body {
  background-color: hsl(212, 45%, 89%);
}
.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  /* justify-items: center; */
  /* justify-self: center; */
}
.box {
  width: 375px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
}
@media screen and (max-width: 600px) {
  .box {
    width: 350px;
  }
}

.image {
  width: 375px;

  border-radius: 30px;
}
.text {
  width: 375px;
}

h1,
p {
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: bold;
}

p {
  font-weight: normal;
  padding-left: 40px;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  width: 280px;
}

.attribution {
  display: flex;
  font-size: 11px;
  height: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
